<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>300282932986-9kgr04qrjraleoahdd5r3b0asoson2oe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.300282932986-9kgr04qrjraleoahdd5r3b0asoson2oe</string>
	<key>API_KEY</key>
	<string>AIzaSyAv14iI9Q-6X59Ml4CYsjgKH_uSObuL7WM</string>
	<key>GCM_SENDER_ID</key>
	<string>300282932986</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.littlefont</string>
	<key>PROJECT_ID</key>
	<string>littlefont-3ee9b</string>
	<key>STORAGE_BUCKET</key>
	<string>littlefont-3ee9b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:300282932986:ios:272a168cf8366feb54a343</string>
</dict>
</plist>